<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Iniciar sesión</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-img src="../assets/brand-logo.svg"></ion-img>
    <form [formGroup]="logInForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-input placeholder="E-mail" type="text" formControlName="email" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Contraseña" type="password" formControlName="password" clearInput></ion-input>
        </ion-item>
        <ion-row padding-top="10">
            <ion-col size="12" align="center">
                <ion-button color="primary"
                            type="submit" [disabled]="!logInForm.valid || buttonPressed">
                    Iniciar sesión
                </ion-button>
            </ion-col>
        </ion-row>
    </form>
    <ion-row align-items-center="" padding-top="10">
        <ion-col size="6">
            <ion-label><strong>¿No tienes cuenta?</strong></ion-label>
        </ion-col>
        <ion-col size="6">
            <ion-button [routerLink]="'/signup'" shape="round" size="small" fill="clear">Regístrate</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
