<ion-header>
    <ion-toolbar>
        <ion-title>Registro</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-input placeholder="E-mail" type="text" formControlName="email" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Contraseña" type="password" formControlName="password" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="Repite la contraseña" type="password" formControlName="repeatPassword" clearInput></ion-input>
        </ion-item>
        <ion-row>
            <ion-button color="primary" type="submit">Regístrate</ion-button>
        </ion-row>
    </form>
    <ion-row>
        <ion-label color="primary">¿Ya tienes cuenta?
            <ion-button [routerLink]="'/login'">Inicia sesión</ion-button>
        </ion-label>
    </ion-row>
</ion-content>
