<ion-header>
    <ion-img src="../assets/brand-logo.svg"></ion-img>
</ion-header>

<ion-content padding>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-input placeholder="E-mail" type="text" formControlName="email" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'password'|translate}}" type="password" formControlName="password" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'repeat_password'|translate}}" type="password" formControlName="repeatPassword" clearInput></ion-input>
        </ion-item>
        <ion-row padding-top="10">
            <ion-col size="12" align="center">
                <ion-button color="primary" type="submit" [disabled]="!signUpForm.valid || buttonPressed">{{'sign_up'|translate}}</ion-button>
            </ion-col>
        </ion-row>
    </form>
    <ion-row align-items-center="" padding-top="10">
        <ion-col size="6" align="center">
            <ion-label><strong>{{'already_registered'|translate}}</strong></ion-label>
        </ion-col>
        <ion-col size="6" align="center">
            <ion-button [routerLink]="'/login'" shape="round" size="small" fill="clear">{{'log_in'|translate}}</ion-button>
        </ion-col>
    </ion-row>
    <ion-item lines="none">
        <ion-label style="font-size:0.95rem">{{"changeLang" | translate}}</ion-label>
        <ion-toggle (ionChange)="changeLang($event)"></ion-toggle>
    </ion-item>
</ion-content>
