<ion-header>
    <ion-toolbar color="primary">
        <ion-title>QrIdForm</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="qrIdForm" (ngSubmit)="onSubmit()">
        <ion-item>
            <ion-input placeholder="{{'name'|translate}}" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'surname'|translate}}" formControlName="surname"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'id_number'|translate}}" formControlName="dni"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'nationality'|translate}}" formControlName="nationality"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'address'|translate}}" formControlName="address"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'city'|translate}}" formControlName="poblacion"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'province'|translate}}" formControlName="provincia"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'state'|translate}}" formControlName="comunidad"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input placeholder="{{'zip_code'|translate}}" formControlName="zipcode"></ion-input>
        </ion-item>
        <ion-row align-items-center="" padding-top="10">
            <ion-col size="6" align="center">
                <ion-button type="submit" [disabled]="!qrIdForm.valid">{{'accept'|translate}}</ion-button>
            </ion-col>
            <ion-col size="6" align="center">
                <ion-button (click)="returnToHome()">{{'return'|translate}}</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
