<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{currentUser}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)"
             style="background-color:var(--ion-color-primary)"
             color="secondary">
    <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
        <ion-label>Formularios</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
        <ion-label>Pendientes</ion-label>
    </ion-segment-button>
</ion-segment>
<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>

<ion-content>
    <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
                (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()"
                #SwipedTabsSlider
                (ionSlideDrag)="animateIndicator($event)">
        <ion-slide>
            <ion-content class="fixed-scroll">
                <ion-list>
                    <ion-searchbar #searchBar id="searchBar" showCancelButton
                                   cancelButtonText="Cancelar" placeholder="Buscar"
                                   (ionInput)="getFilteredFilled($event)" [animated]="true"></ion-searchbar>
                    <ion-item>
                        <ion-icon slot="start" src="../../assets/app-icons/logo.svg"></ion-icon>
                        <ion-label *ngIf="qrId" (click)="showQrCode('qrID', 0)">Mi QR ID</ion-label>
                        <ion-label *ngIf="!qrId" (click)="goToQrIdForm()">Pulsa para configurar tu QR ID</ion-label>
                    </ion-item>
                    <ion-item *ngFor="let form of filteredFilled; let i = index">
                        <ion-label (click)="showQrCode('form', i)">{{form.title}}</ion-label>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content class="fixed-scroll">
                <ion-searchbar #searchBar id="searchBar2" showCancelButton
                               cancelButtonText="Cancelar" placeholder="Buscar"
                               (ionInput)="getFilteredPending($event)" [animated]="true"></ion-searchbar>
                <ion-item *ngFor="let form of filteredPending; let i = index">
                    <ion-label (click)="openFillForm(i)">{{form.title}}</ion-label>
                </ion-item>
            </ion-content>
        </ion-slide>
        <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="openQrScanner()">
            <ion-fab-button>
                <ion-icon name="qr-scanner" [routerLink]="'/qr-scanner'"></ion-icon>
            </ion-fab-button>
        </ion-fab>
    </ion-slides>
</ion-content>
