<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            {{getCurrentUser()}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-segment [(ngModel)]="category" (ionChange)="slides.slideTo(category)"
             style="background-color:var(--ion-color-primary)"
             color="light">
    <ion-segment-button layout="icon-start" value="0" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="home" style="margin-right:1px;zoom:0.8"></ion-icon>
        <ion-label>Form</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="1" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="information-circle" style="margin-right:1px;zoom:0.8"></ion-icon>
        <ion-label>Pend</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" value="2" style="--padding-end:0px;--padding-start:0px">
        <ion-icon name="time" style="margin-right:1px;zoom:0.8"></ion-icon>
        <ion-label>Hist</ion-label>
    </ion-segment-button>
</ion-segment>
<div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="
    {'width.%': (100/this.tabs.length)}" style="margin-top:2px"></div>

<ion-content>
    <ion-slides #slides (ionSlideTransitionStart)="updateIndicatorPosition();updateCat(slides.getActiveIndex())"
                (ionSlideWillChange)="updateIndicatorPosition()" (ionSlideDidChange)="updateIndicatorPosition()"
                #SwipedTabsSlider
                (ionSlideDrag)="animateIndicator($event)">
        <ion-slide>
            <ion-content class="fixed-scroll">
                <ion-list>
                    <ion-item>
                        <ion-icon slot="start" src="../../assets/app-icons/logo.svg"></ion-icon>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content class="fixed-scroll">
                <h1>Slide two</h1>
            </ion-content>
        </ion-slide>
        <ion-slide>
            <ion-content class="fixed-scroll">
                <h1>Slide three</h1>
            </ion-content>
        </ion-slide>
    </ion-slides>
</ion-content>
